<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Glozzom Theme</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %} ">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %} ">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} ">
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <img src="/static/img/demo.jpg" class="img-rounded" alt="JAI HO"  height=60 width=60 >
    &emsp;&emsp;
      <h2><a href="/static/index.html" class="navbar-brand">Democracy</a></h2>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navNavbar"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="{% url 'Index' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'About'%}" class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'Services' %}" class="nav-link">Services</a>
          </li>
            <li class="nav-item">
            <a href=" {% url 'Signin' %} " class="nav-link">Sign IN</a>
          </li>
          <li class="nav-item">
            <a href=" {% url 'Signup' %} " class="nav-link">Sign UP</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'Blog' %}" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'Contact' %}" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- SHOWCASE SLIDER -->
  <section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item carousel-image-1 active">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="display-3">Raise Your Voice</h1>
              <p class="lead"></p>
              <a href="{% url 'Voting' %}" class="btn btn-danger btn-lg">Vote Now</a>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-2">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block  text-left mb-5">
              <h2 class="display-3"><a class="text-light"style="text-decoration:none;" href="">Citizenship Amendment Act (CAA)</a></h2>
              <p class="lead">The Citizenship (Amendment) Act, 2019 was passed
                 by the Parliament of India on 11 December 2019.
                 It amended the Citizenship Act of 1955 by providing a path to
                  Indian citizenship for members of Hindu, ...<a href="https://en.wikipedia.org/wiki/Citizenship_Amendment_Act_protests">more</a></p>
              <a href="{% url 'Voting' %}" class="btn btn-success btn-lg">Vote Now</a>
            </div>
          </div>
        </div>

        <div class="carousel-item carousel-image-1">
          <div class="container">
            <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h2 class="display-3"><a style="text-decoration:none;"href="" class="text-warning">National Register of Citizens (NRC)</a></h2>
              <p class="lead">The National Register of Citizens is a registry
                maintained by the Government of India containing names & certain
                 relevant information for the identification of genuine Indian
                  citizens in the state of Assam.The register was specifically made for Assam.
                <a href="https://en.wikipedia.org/wiki/National_Register_of_Citizens">read more</a></p>
              <a href="{% url 'Voting' %}" class="btn btn-success btn-lg">Vote Now</a>
            </div>
          </div>
        </div>


      </div>

      <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon"></span>
      </a>

      <a href="#myCarousel" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>


  <!-- HOME HEADING SECTION -->
  <section id="home-heading" class="p-5">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptates, consequatur labore placeat doloremque dignissimos exercitationem esse fuga laborum ex!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- INFO SECTION -->
  <section id="info" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h3>Lorem Ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium beatae eaque quos eligendi, laboriosam. Culpa consequuntur illum facere id molestias.</p>
          <a href="#" class="btn btn-outline-danger btn-lg">Learn More</a>
        </div>
        <div class="col-md-6">
          <img src="/static/img/laptop.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- VIDEO PLAY SECTION -->
  <section id="video-play">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container p-5">
            <a
              href="#"
              class="video"
              data-video="https://www.youtube.com/embed/HnwsG9a5riA"
              data-toggle="modal"
              data-target="#videoModal"
            >
              <i class="fa fa-play"></i>
            </a>
            <h1>OUR DEMOCRACY</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PHOTO GALLERY -->
  <section id="gallery" class="py-5">
    <div class="container">
      <h1 class="text-center">Photo Gallery</h1>
      <p class="text-center">Check out our photos</p>
      <div class="row mb-4">
        <div class="col-md-4">
          <a href="http://lorempixel.com/560/560/business/1" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/600/600/business/1" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4">
          <a href="http://lorempixel.com/560/560/business/2" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/600/600/business/2" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4">
          <a href="http://lorempixel.com/560/560/business/3" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/600/600/business/3" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <a href="http://lorempixel.com/560/560/business/4" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/600/600/business/4" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4">
          <a href="http://lorempixel.com/600/600/business/5" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/600/600/business/5" class="img-fluid">
          </a>
        </div>
        <div class="col-md-4">
          <a href="http://lorempixel.com/560/560/business/6" data-toggle="lightbox" data-gallery="img-gallery">
            <img src="http://lorempixel.com/600/600/business/6" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- NEWSLETTER SECTION -->
  <section id="newsletter" class="text-center p-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Signup For Our Newsletter</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis magnam similique esse assumenda quasi repellendus illum perferendis quos aliquid possimus.</p>
          <form class="form-inline justify-content-center">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Name">

            <label class="sr-only" for="email">Email</label>
            <input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Email">
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright 2017 &copy; Glozzom</p>
        </div>
      </div>
    </div>
  </footer>


  <!-- VIDEO MODAL -->
  <div class="modal fade" id="videoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
          <iframe src="" height="350" width="100%" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
